node_modules
dist
.turbo
.vite
.wrangler
*.log
.env
.env.*
!.env.example
.dev.vars
.dev.vars.doppler
.dev.vars.bak
.doppler.yaml
.DS_Store
wrangler.selfhost.toml
installer/terraform/.terraform
installer/terraform/.terraform.lock.hcl
installer/terraform/terraform.tfstate*
installer/terraform/terraform.tfstate.d
